
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

*{
    font-family:"Syne", system-ui;
    
}
.main{
    max-width: 1140px;
    margin: 0 auto;
}
.formulaire-contact {
    display: flex;

  }

.inside-header.grid-container{
    padding-top: 0px!important;
    padding-bottom: 0px!important;
  }


  
  #menu-item-84 a,
  li.menu-item:nth-child(2) > a:nth-child(1),
  #menu-item-82 a,
  #menu-item-792 a{
      padding-top: 10px!important;
      padding-bottom: 10px!important;
  }
  
  #menu-item-84 a:hover,
  li.menu-item:nth-child(2) > a:nth-child(1):hover,
  #menu-item-82 a:hover,
  #menu-item-792 a:hover{
      color: white!important;
      background-color: #DC9F96!important;
  }

/*formulaire contact nous rencontrer*/
.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required,
.wpcf7-form-control.wpcf7-textarea{
    border-radius: 7px;
}

.wpcf7-form-control.wpcf7-submit.has-spinner.nous-rencontrer{
    margin-left:100px;
}
/*boutton quantité page commander*/

.commande-button{
height: 56px;
width: 62px;
}
/*formulaire contact page commander*/
  .formulaire-contact .colonne-gauche,
  .formulaire-contact .colonne-droite {
    width: 50%;
    color: white;
  }

  /* titre des colonnes*/
.titre-col-1,
.titre-col-2{
    font-weight:700;
    font-size: 30px;
  }

  .formulaire-contact .colonne-gauche input,
  .formulaire-contact .colonne-droite input{
    width: 500px;
    height: 71px;
    border-radius: 7px;
    margin-bottom: 20px;
  }

  /*button commander*/
.wpcf7-form-control.wpcf7-submit.has-spinner{
    background-color: #E0B9B4;
    width: 198px;
    height: 55px;
    border-radius: 5px;
    margin-left: 472px;
    margin-bottom: 50px;
}

.colonne-droite{
    margin-left: 100px;
}


/* form final*/

.image-bandeau{
    display: flex;
    margin-bottom: 100px;

}

.img-fraise,
.img-pamplemousse,
.img-framboise,
.img-citron{
    padding-right: 40px;
}

.titre-fraise,
.titre-pamplemousse,
.titre-framboise,
.titre-citron{
    position: absolute;
    font-weight: 800;
    font-size: 20px;
    color:white;
}

.titre-fraise{
    top:64px;
    right:970px;
}

.titre-pamplemousse{
    top: 54px;
    right:655px;
}


.titre-framboise{
    top: 54px;
    right:397px;
}

.titre-citron{
    top:64px;
    right:94px;
}

.bloc-framboise > p:nth-child(3) > span:nth-child(1) > input:nth-child(1),
.bloc-fraise > p:nth-child(3) > span:nth-child(1) > input:nth-child(1),
.bloc-pamplemousse > p:nth-child(3) > span:nth-child(1) > input:nth-child(1),
.bloc-citron > p:nth-child(3) > span:nth-child(1) > input:nth-child(1){
    width: 59px!important;
    margin-left:94px;
}

@media (max-width: 1024px) { 

    .main{
        max-width: 1024px;
        margin: 0 auto;
    }

/*formulaire contact nous rencontrer*/
.wpcf7-form-control.wpcf7-submit.has-spinner.nous-rencontrer{
    margin-left:40px;
}


/*formulaire contact commander*/
    .formulaire-contact .colonne-gauche input,
    .formulaire-contact .colonne-droite input{
      width: 300px;
      height: 71px;
      border-radius: 7px;
      margin-bottom: 20px;
    }

      /*button commander*/
.wpcf7-form-control.wpcf7-submit.has-spinner{
    background-color: #E0B9B4;
    width: 198px;
    height: 55px;
    border-radius: 5px;
    margin-left: 270px;
    margin-bottom: 50px;
}

/* final form*/
.titre-fraise{
    top:30px;
    right:610px;
}


.titre-pamplemousse{
    top: 20px;
    right:415px;
    font-size: 19px;
}

.titre-framboise{
    top: 15px;
    right:250px;
}

.titre-citron{
    top:30px;
    right:50px;
}

.bloc-framboise > p:nth-child(3) > span:nth-child(1) > input:nth-child(1),
.bloc-fraise > p:nth-child(3) > span:nth-child(1) > input:nth-child(1),
.bloc-pamplemousse > p:nth-child(3) > span:nth-child(1) > input:nth-child(1),
.bloc-citron > p:nth-child(3) > span:nth-child(1) > input:nth-child(1){
    width: 59px!important;
    margin-left:50px;
}

}

@media (max-width: 767px) { 

    .main{
        max-width: 767px;
        margin: 0 auto;
    }

/*formulaire contact nous rencontrer*/
.wpcf7-form-control.wpcf7-submit.has-spinner.nous-rencontrer{
    margin-left:0px;
}
      /* titre des colones*/
.titre-col-1,
.titre-col-2{
    font-weight:400;
    font-size: 20px;
  }

  .formulaire-contact .colonne-gauche,
  .formulaire-contact .colonne-droite {
    width: 35%;
    color: white;
  }
    .formulaire-contact .colonne-gauche input,
    .formulaire-contact .colonne-droite input{
      width:200px;
      height: 71px;
      border-radius: 7px;
      margin-bottom: 20px;
    }

      /*button commander*/
.wpcf7-form-control.wpcf7-submit.has-spinner{
    background-color: #E0B9B4;
    width: 198px;
    height: 55px;
    border-radius: 5px;
    margin-left: 75px;
    margin-bottom: 50px;
}
/*finalform*/

    /* Organisation en colonne des éléments */
    .image-bandeau {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    
    /* Centrer les images et ajuster leur taille pour le mobile */
    .image-bandeau img {
        width: 200px; /* Ajustement taille des images  */
        height: auto;
    }

    /* Ajuster les blocs d'image pour une meilleure lisibilité */
    .image-bandeau > div {
        width: 100%;
        text-align: center;
    }



    .img-citron,
    .img-framboise,
    .img-pamplemousse,
    .img-fraise{
        margin-left: 70px;
    }

    .titre-fraise{
        position: absolute;
        width: 200px;
        left: 85px;
        
    }
    .titre-pamplemousse{
        position: absolute;
        width: 200px;
        top: 270px;
        left: 85px;
        
    }
    .titre-framboise{
        position: absolute;
        width: 200px;
        top:510px;
        left: 85px;
        
    }
    .titre-citron{
        position: absolute;
        width: 200px;
        top:760px;
        left: 85px;
        
    }

}




