
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

*{
    font-family:"Syne", system-ui;
    
}
.main{
    max-width: 1140px;
    margin: 0 auto;
}
.formulaire-contact {
    display: flex;

  }

  .formulaire-contact .colonne-gauche,
  .formulaire-contact .colonne-droite {
    width: 50%;
    color: white;
  }

  /* titre des colones*/
.titre-col-1,
.titre-col-2{
    font-weight:700;
    font-size: 30px;
  }

  .formulaire-contact .colonne-gauche input,
  .formulaire-contact .colonne-droite input{
    width: 500px;
    height: 71px;
    border-radius: 7px;
    margin-bottom: 20px;
  }

  /*button commander*/
.wpcf7-form-control.wpcf7-submit.has-spinner{
    background-color: #E0B9B4;
    width: 198px;
    height: 55px;
    border-radius: 5px;
    margin-left: 472px;
    margin-bottom: 50px;
}

.colonne-droite{
    margin-left: 100px;
}

@media (max-width: 1024px) { 

    .main{
        max-width: 1024px;
        margin: 0 auto;
    }

    .formulaire-contact .colonne-gauche input,
    .formulaire-contact .colonne-droite input{
      width: 300px;
      height: 71px;
      border-radius: 7px;
      margin-bottom: 20px;
    }

      /*button commander*/
.wpcf7-form-control.wpcf7-submit.has-spinner{
    background-color: #E0B9B4;
    width: 198px;
    height: 55px;
    border-radius: 5px;
    margin-left: 270px;
    margin-bottom: 50px;
}
}

@media (max-width: 767px) { 

    .main{
        max-width: 767px;
        margin: 0 auto;
    }

      /* titre des colones*/
.titre-col-1,
.titre-col-2{
    font-weight:400;
    font-size: 20px;
  }

  .formulaire-contact .colonne-gauche,
  .formulaire-contact .colonne-droite {
    width: 35%;
    color: white;
  }
    .formulaire-contact .colonne-gauche input,
    .formulaire-contact .colonne-droite input{
      width:200px;
      height: 71px;
      border-radius: 7px;
      margin-bottom: 20px;
    }

      /*button commander*/
.wpcf7-form-control.wpcf7-submit.has-spinner{
    background-color: #E0B9B4;
    width: 198px;
    height: 55px;
    border-radius: 5px;
    margin-left: 75px;
    margin-bottom: 50px;
}
}
